<html class="pdf">
  <head>
    <style>
      <%= pdf_css_loader_helper %>
    </style>
  </head>

  <body class="pdf">
    <div class="row pdf-container">
      <div class="report-header">

        <div class="col-md-12">
          <h1><%= @assessment.name %></h1>
          <p class='byline'>Organized By:</p>
          <p class='byline data'><h4><%= @assessment.user.name %></h4></p>
          <p class='byline'>Organized Date:</p>
          <p class='byline data'><h4><%= Time.zone.parse(@assessment.created_at.to_s).strftime("%B %eth, %Y") %></h4></p>
        </div>
        
        <div class="col-md-12 answer-overview-table">
          <table>
            <caption>Answer Overview</caption>
            <% iterator = 0 %>
            <% 1..5.times do |row| %>
              <tr>
                <% 1..6.times do |column| %>
                  <td><%= "#{@questions[iterator][:number]}" if @questions[iterator] %></td>
                  <td class="question-value"><%= "[#{question_score_value(@questions[iterator])}]" if @questions[iterator] %></td>
                  <% iterator+=1 %>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>

        <div class="col-md-12 key-table">
          <table>
            <caption>Key</caption>
            <% answer_titles.each do |number, category_type| %>
              <tr>
                <td class="question-value"><%= "[#{number}]" %></td>
                <td><%= category_type %></td>
              </tr>
            <% end %>
            <tr>
              <td class="question-value">[5]</td>
              <td>Skipped</td>
            </tr>
          </table>
        </div>

      </div>

      <div class="report-content">
        <% @consensus[:categories].each do |category| %>
          <!-- Category questions -->
          <% category[:questions].each do |question| %>
            <div class="question-answer-container">
              <div class="question-table-container">
                <table class="question-table">
                  <tr>
                    <td class="number">
                      <%= question[:number] %>  
                    </td>
                    <td class="description">
                      <h4><%= question[:headline] %></h4>
                      <%= question[:content] %>
                    </td>
                  </tr>
                </table>
              </div>
              <!-- Answers overview -->
              <div class="question-answers-container">
                <table class="question-answers">
                  <% question[:answers].each do |answer| %>
                    <tr>
                      <td class="score-sumary">
                        <%= answer_count(@consensus[:scores], question[:id], answer[:value]) %>/<%= @consensus[:participant_count] %>
                      </td>
                      <td class="value">
                        <%= answer[:value] %>
                      </td>
                      <td class="value-words">
                        <%= answer_titles[:"#{answer[:value]}"] %>
                      </td>
                      <td class="content">
                        <%= answer[:content] %>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div>
          <% end %>

        <% end %>
      </div>
    </div>
  </body>
</html>