<section class='hero'>
  <div class='row'>
    <div class='col-sm-12 text-center'>
      <h1>PDredesign</h1>
    </div> 
  </div> 

  <div class='row'>
    <div class='col-sm-12 text-center'>
      <p>A digital toolkit and community of practice</br>
      dedicated to improving professional</br>
      development for teachers.</p>
    </div> 
  </div> 

  <div class='row'>
    <div class='col-sm-12 text-center'>
      <button choose-role-modal type='button' class='btn btn-default' >Sign Up</button>
    </div>     
  </div> 

</section>

<section class='body'>
  <div class='row'>
    <div class='col-sm-12 text-center'>
      <h2 class="secondary-color">Why Redesign PD?</h2>
    </div> 
  </div> 

  <div class='row'>
    <div class='col-sm-12 text-center'>
      <p class="primary-color">Teachers, more than ever, are looking for relevant, flexible,</br>
      collaborative PD to meet the needs of students in their</br>
      classrooms.</p>
    </div> 
  </div> 
</section>

<section class='stats'>
  <div class='row'>
    <div class='col-sm-12 text-center'>
      <%= image_tag('landing-page-graph.png') %>
    </div>
  </div> 

  <div class='row'>
    <div class='col-sm-12 text-center legal dark-primary-color'>
      Teachers surveyed were asked "in the past 12 months, to what extent have
      the following factors limited the effectiveness of your PD?" 936 teachers responded<br/>
      Source: PD teacher survey, February 2014<br/>
    </div> 
  </div> 
</section>

<section class='path'>
  <div class='row'>
    <div class='col-sm-12 text-center'>
      <h2 class="secondary-color">Redesign for continous improvement and sustainable change</h2>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12 col-md-4 col-md-offset-2 text-center'>
      <div class="points">
        <h3 class="primary-color">Where are we now?</h3>
        <p>Understand your strengths across the district and identify priorities for growth.</p>
        <%= image_tag 'landpage-icons-mappin.png', class: 'visible-xs-inline' %>
      </div>
      <div class="points">
        <h3 class="primary-color">Where do we need to grow?</h3>
        <p>Analyze resources and gaps in priority areas.</p>
        <%= image_tag 'landpage-icons-tools.png', class: 'visible-xs-inline' %>
      </div>
      <div class="points">
        <h3 class="primary-color">How do we reach our goals?</h3>
        <p>Leverage best practices and tools to make your plan come to life.</p>
        <%= image_tag 'landpage-icons-playbook.png', class: 'visible-xs-inline'   %>
      </div>
      <div class="points">
        <h3 class="primary-color">Who can help us get there?</h3>
        <p>Find districts and partners working on solutions.</p>
        <%= image_tag 'landpage-icons-community.png', class: 'visible-xs-inline'  %>
      </div>

    </div>
    <div class='col-sm-12 col-md-3 col-md-offset-1 icons hidden-sm hidden-xs'>
      <%= image_tag 'path.png' %>
    </div>

  </div>

</section>

<section class='action'>
  <div class='row'>
    <div class='col-sm-12 text-center'>
      <h2 class="secondary-color">Join PD redesign</h2>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12 text-center'>
      A digital toolkit and community of practice dedicated to<br/>
      improving professional development for teachers.
    </div>

    <div class='row'>
      <div class='col-sm-12 text-center'>
        <button choose-role-modal type='button' class='btn btn-default'>Sign Up</button>
      </div> 
    </div> 


  </div>

</section>
