<table class="row">
  <tr>
    <td class="wrapper last">

    <table class="twelve columns">
      <tr>
        <td class="left-text-pad">
          <h2>Hello <%= @first_name %>, </h2>
          <br>

          <p class="lead">
            <h6>
            <b><%= @facilitator_name %></b>
              has invited you to participate in <%= @inventory_name %> for <%= @district_name %>.
            </h6>
          </p>
          <br>
          <br>

          <p class="lead">
            <h6><b>Please complete this Tech Audit by <%= @due_date %>.</b></h6>
          </p>
          <br>
          <br>

          <p class="lead"> 
            <center>
              <a href="<%= @inventory_link %>" taget="_blank" class="button">
                Begin Tech Audit Now
              </a> 
            </center>
          </p>
          <br>
          <br>
          PDredesign is a community of educators and designers committed to continuously improving professional development systems to better support teachers. Alongside leaders from classrooms, schools, charters, districts, and partner organizations across the country, we are building an open digital toolkit and community of practice to support districts to redesign systems that meet the needs of educators and students.
          <br>
        </td>
        <td class="expander"></td>
      </tr>
    </table>

    </td>
  </tr>
</table>

