<table class="row">
  <tr>
    <td class="wrapper last">

    <table class="twelve columns">
      <tr>
        <td class="left-text-pad">
          <h2>Hello <%= @first_name %>, </h2>
          <br>

          <p class="lead">
            <h6>
            <b><%= @facilitator_name %></b>
              has invited you to participate in <%= @assessment_name %> for <%= @district_name %>.
            </h6>
          </p>
          <br>
          <br>

          <p class="lead"><%= @message %></p>
          <p class="lead">
            <h6><b>Please complete this assessment by <%= @due_date %>.</b></h6>
          </p>
          <br>
          <br>

          <p class="lead"> 
            <center>
              <a href="<%= @assessment_link %>" taget="_blank" class="button">
                Begin Assessment Now
              </a> 
            </center>
          </p>
          <br>
          <br>

          <p class="lead"> 
            <h6><b>With this tool you will...</b></h6>
Engage in a candid,cross-functional discussion about innovative Professional Development using a common language anchored to key elements of a high-quality, multi-modal professional development system. You'll gain a comprehensive understanding of the current state of multiple aspects of PD in your district. You'll have the opportunity to contribute to the PD strategy design at the district level to better support teachers to improve student success in their classrooms.
          </p>
          <br>
          <br>
          <%= image_tag('intro_video.png') %>
        </td>
        <td class="expander"></td>
      </tr>
    </table>

    </td>
  </tr>
</table>

